.carouselWrap {
  width: 80vw;
  position: relative;
  margin: 0 auto;
  button {
    cursor: pointer;
    padding: 0;
    &.carouselLeft,
    &.carouselRight {
      border: none;
      background: none;
    }
  }
}

.carouselContainer {
  height: 50vh;
  min-height: 500px;
}

.carouselList {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  .slideItem {
    display: inline-flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    position: relative;
    list-style: none;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    article {
      height: 100%;
      width: 100%;
      p.codepen {
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid;
        margin: 1em 0;
        padding: 1em;
      }
    }
  }

  .active-slide {
    color: black;
  }
  .inactive-slide {
    display: none;
  }
}

nav.carouselNav {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  width: 100%;
}
