.carouselWrap {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.carouselList {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.slideItem {
  position: relative;
  list-style: none;
}

.active-slide {
  color: red;
}